{% extends "base.html" %}
{% block body %}
<h2>BloodRooster</h2>

<style type="text/css">
    body {
        color: #d3d3d3;
        font: 12pt arial;
        background-color: #222222;
    }

    #mygraph {
        width: 1000px;
        height: 800px;
        border: 1px solid lightgray;
    }
</style>

<form action="/graph" method="post" id="todo-form">
    <button name="foo" value="TEST">TEST</button>
</form>

<div class="form-row">
    <div class="form-group col-10">
        <div id="mygraph"></div>
    </div>
    <div class="form-group col-2">
        <input type="button" name="test_button" id="test_button" value="Test" onclick="testbutton()">
    </div>
</div>

<script type="text/javascript">
    // continuous function listening to server_msg websocket
    $(document).ready(function(){
        // connect to websocket
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/websocket/graph');

        // handle event websocket messages
        socket.on('graph', function(msg) {
            json_obj = JSON.parse(msg.msg);
            draw_graph(json_obj.nodes, json_obj.edges);
        });
    });

    $(document).on('submit','#todo-form',function(e) {
      console.log('hello');
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:'/graph',
        data:{
          todo:$("#todo").val()
        },
        success:function()
        {
          //alert('saved');
        }
      })
    });

    function draw_graph(nodes, edges) {
        var computer_path = "static/images/computer.png";
        var user_path = "static/images/user.png";
        var group_path = "static/images/group.png";
        var unknown_path = "static/images/unknown.png";

        vis_nodes = [];
        vis_edges = [];

        // translate nodes and edges json into vis compatible format
        Object.entries(nodes).forEach((entry) => {
            const [key, value] = entry;
            id = value.id;
            label = value.name;
            switch(value.type) {
                case "computer":
                    image = computer_path;
                    break;
                case "user":
                    image = user_path;
                    break;
                case "group":
                    image = group_path;
                    break;
                default:
                    image = unknown_path;
                    break;
              }
              vis_nodes.push({id: id, label: label, image: image, shape: "image"});
        });

        // translate nodes and edges json into vis compatible format
        Object.entries(edges).forEach((entry) => {
            const [key, value] = entry;
            id = value.id;
            from = value.from;
            to = value.to;
            vis_edges.push({from: from, to: to});
        });

        // create a network
        var container = document.getElementById("mygraph");
        var data = {
            nodes: vis_nodes,
            edges: vis_edges,
        };
        var options = {};
        var network = new vis.Network(container, data, options);
    }

    function testbutton() {
        alert("help");
        var computer_path = "static/images/computer.png";

        // create an array with nodes
          var nodes = new vis.DataSet([
            { id: 1, label: "Node 1", image: computer_path, shape: "image" },
            { id: 2, label: "Node 2", image: computer_path, shape: "image" },
            { id: 3, label: "Node 3", image: computer_path, shape: "image" },
            { id: 4, label: "Node 4", image: computer_path, shape: "image" },
            { id: 5, label: "Node 5", image: computer_path, shape: "image" },
          ]);

          // create an array with edges
          var edges = new vis.DataSet([
            { from: 1, to: 3 },
            { from: 1, to: 2 },
            { from: 2, to: 4 },
            { from: 2, to: 5 },
            { from: 3, to: 3 },
          ]);

          // create a network
          var container = document.getElementById("mygraph");
          var data = {
            nodes: nodes,
            edges: edges,
          };
          var options = {};
          var network = new vis.Network(container, data, options);
    }
</script>

</main>

{% endblock %}